* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

/* --- HERO IMAGE --- */

.hero-image {
    width: 100%;
    height: 70vh;
    background-color: #B29E8A;
    position: relative;
}

.hero-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* --- MOBILE MENU --- */

.mobile-nav__container {
    width: 90vw;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav__bar {
    width: 20px;
    height: 3px;
    background-color: #000;
    margin-bottom: 3px;
}

.mobile-menu__overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 10vh;
    background-color: gainsboro;
    transition: all .5s;
    
}

.mobile-menu__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}